*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.weights
*.backup
*.txt
*.h5
*.npz
*.tfrecord
train_dataset/
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
.ipynb_checkpoints/
*/.ipynb_checkpoints/

.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
